.next
node_modules
.env
.env.local
*.local
.DS_Store
*.pem
npm-debug.log*
coverage
.nyc_output
.eslintcache
*.tgz
*.log
.yarn
.pnp.js
yarn-error.log
.pnpm-debug.log*
.bun*
bun.*
.cache
dist
build
*.swp
*.swo
*~
.nuxt
output
.vite